// Import all of Bootstrap's CSS and Icons
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

// Variables
$hover-color: #e2e6ea;

// Standards
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

// Mixin for hover effect
@mixin hover-effect {
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

// Apply hover effect to elements
.hover-style {
  @include hover-effect;
}

// Active style transition
.active-style {
  will-change: contents;
  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.95);
  }
}

// Specific styling for project items
.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
  @include hover-effect; // Reuse hover mixin
}

// Sidebar styles
.sidebar {
  will-change: contents;
  transition: transform 0.3s ease;
  width: clamp(240px, 270px, 300px);
}

.sidebar-hide {
  transform: translateX(-100%);
}

.sidebar-toggler {
  right: 4px;
  transition: transform 0.3s ease;
  will-change: contents;

  &:active {
    transform: scale(0.95);
  }
}

.project-btn {
  transition: transform 0.3s ease, background-color 0.3s ease;
  will-change: contents;

  &:active {
    transform: scale(0.95);
  }
}

.focus {
  background-color: $hover-color;
}

// Main contents styles
.main-contents {
  margin-left: clamp(240px, 270px, 300px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.full-width {
  margin-left: 0;
  min-width: 100%;
}

.task {
  cursor: pointer;

  .toggle-status {
    cursor: pointer;
  }

  .description,
  .due-date,
  .priority {
    font-size: 0.8rem;
  }

  .due-date,
  .priority {
    background-color: $hover-color;
    padding: 2px 4px;
    border-radius: 4px;
  }
}
